.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #ebf6ff;
    padding: 1em;
}

.list {
    display: flex;
    list-style: none;

}

.item {
    margin-right: 1em;
}

.item a {
    color: #0092ff;
    text-decoration: none;
}

.item a:hover {
    color: #0092ff;
}
